body{
  margin:0;
  padding:0;
  background:#0f172a;
  color:white;
  font-family: Arial, sans-serif;
  text-align:center;
}

h2,h3{
  margin-top:20px;
}

input, button{
  width:90%;
  max-width:400px;
  padding:12px;
  margin:10px auto;
  display:block;
  border-radius:8px;
  border:none;
  outline:none;
  font-size:16px;
}

button{
  background:#22c55e;
  color:#000;
  font-weight:bold;
  font-size:16px;
}

a{
  color:#22c55e;
  text-decoration:none;
  font-weight:bold;
}